body{
    font-family: sans-serif;
    padding: 20px;
}
.perfil-header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.avatar{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 3px solid black;
}
.post{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 3px solid black;
}
.post-title{
    font-weight: bold;
    color: black;
    
}